
.col-md-3{
    background: #f7d5cd;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form button{
    background: #0056b3 !important;
    color: #fff !important;
    font-weight: 600 !important;
    width: 25% !important;
}
.contact-form button:focus{
    box-shadow:none;
}
.help-block {
    color:#f1160a;
}
.contact-form{
    margin-top: 150px;
    background-color: white;
}